@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
    --main-font-stack: Lato, sans-serif;
    /* color */
    --clear: #f7f7f7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    line-height: 1.45;
    font-family: var(--main-font-stack);
    color: var(--clear);
}

/* general container */
.container {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    transition: background 1s ease-in-out;
}

/* header */
.header {
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 7rem;
}

/* search */
.search-form {
    position: relative;
}

#search {
    width: 20rem;
    font-size: 1.7rem;
    padding: 1rem 1.5rem;
    outline: none;
    border: none;
    border-radius: 2rem;
    color: #111;
}

#search::placeholder {
    color: rgb(88, 88, 88);
}

#search::-webkit-search-cancel-button {display: none;}

button[type="submit"] {
    position: absolute;
    padding: 1.1rem 1.5rem;
    top: 0;
    right: 0;
    border-radius: 2rem;
    font-size: 1.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    color: #222;
    background: transparent;
}

.error-message {
    display: none;
    position: absolute;
    font-size: 1.4rem;
    margin-top: 1.2rem;
    margin-left: 2px;
    background-color: rgb(235, 75, 47);
    padding: 3px 1.5rem;
    border-radius: 2rem;
}

.show {display: block;}

/* main */
.main {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    width: 90rem;
    max-width: 100%;
    font-size: 2rem;
    text-align: center;
    margin: 2rem;
    margin-bottom: 5%;
    border-radius: 1rem;
    background: rgba(255,255,255,.2);
    backdrop-filter: blur(4rem);
    padding: 5rem;
}

/* weather-temp */
.weather-temp-icon {
    font-size: 7rem;
    padding-bottom: 1rem;
    line-height: .5;
}

.weather-temp {
    width: max-content;
    position: relative;
    font-size: 10rem;
    line-height: initial;
    margin: 0 auto;
}

.weather-temp::after {
    content: '°';
    position: absolute;
    top: 0;
    right: -2.8rem;
    font-size: 6.2rem;
}

.city {
    font-size: 4.5rem;
}

.country {
    font-size: 1.8rem;
    margin-left: -2px;
}

.weather-data {
    width: max-content;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: 5rem;
}

.weather-data > div {
    padding: 2rem 7rem;
    border-right: 1px solid #f7f7f763;
}

.weather-data > div:last-child {
    border: none;
}

.weather-data h3 {
    margin-bottom: 2rem;
}

/* responsive */
@media only screen and (max-width: 900px) {
    html {
        font-size: 56%;
    }
}


@media only screen and (max-width: 768px) {
    html {
        font-size: 54%;
    }

    .header {
        padding: 2rem;
    }

    .weather-data {
        width: 100%;
        display: block;
    }

    .weather-data h3 {
        font-size: 2rem;
        margin-bottom: 0;
    }

    .weather-data > div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-right: 0;
        border-bottom: 1px solid #f7f7f763 !important;
        padding: 1.7rem 0;
        margin-bottom: 2rem;
    }

    .weather-data > div:last-child {
        margin-bottom: 0;
    }
}